@import "tailwindcss";

@theme {
  --color-electric-blue: #4922fd;
  --color-base-lilac: #aca5fa;
  --color-base-purple: #4937a1;
  --color-grey: #585858;
  --color-active-yellow: #ffff2e;
  --color-active-green: #b9ff0d;

  /* ------- SHADOWS ------- */
  --shadow-active-glow: 0 0 10px 2px var(--color-active-yellow);

  /* ------- COLORS PER TYPE ------- */
  --color-type-normal: #9099a1;
  --color-type-fighting: #ce4069;
  --color-type-flying: #8fa8dd;
  --color-type-poison: #ab6ac8;
  --color-type-ground: #d97746;
  --color-type-rock: #c7b78b;
  --color-type-bug: #90c12c;
  --color-type-ghost: #5269ac;
  --color-type-steel: #5a8ea2;
  --color-type-fire: #ff9c54;
  --color-type-water: #4d90d5;
  --color-type-grass: #63bb5f;
  --color-type-electric: #f3d23b;
  --color-type-psychic: #f97176;
  --color-type-ice: #74cec0;
  --color-type-dragon: #0f6ac0;
  --color-type-dark: #5a5366;
  --color-type-fairy: #ec8fe6;

  /* ------- ICONS COLORS ------- */
  --color-buff: #fc4f82;
  --color-debuff: #52bcf0;

  --font-jaldi: "Jaldi", sans-serif;
  --font-fjalla: "Fjalla One", sans-serif;

  --font-size-sm: 0.5rem;
  --font-size-md-sm: 0.75rem;
  --font-size-base: 1rem;
  --font-size-md-lg: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 2.5rem;
}

/* ------- TYPOGRPHY CLASSES ------- */

@layer utilities {
  .text-base {
    font-family: var(--font-jaldi);
    font-size: var(--font-size-md-sm);
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1;
  }
  /* ------- E.G. +1 / -1 STATS ------- */
  .text-bold-number {
    font-family: var(--font-jaldi);
    font-size: var(--font-size-md-sm);
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1;
  }
  /* ------- E.G. POKEMON NAME ------- */
  .text-headline {
    font-family: var(--font-fjalla);
    font-size: var(--font-size-md-lg);
    font-weight: 400;
    letter-spacing: 0.001em;
    line-height: 1;
  }
  /* ------- E.G. POKEMON TYPING LABEL ------- */
  .text-label {
    font-family: var(--font-fjalla);
    font-size: var(--font-size-md-sm);
    font-weight: 400;
    letter-spacing: 0.001em;
    line-height: 1.45;
    text-transform: uppercase;
  }
}

body {
  background-color: var(--color-electric-blue);
  user-select: none;
}

/* ------- ANIMATIONSL ------- */

/* modal backdrop */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* modal animation */
.modal-animation {
  animation: modal-in 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}
@keyframes modal-in {
  from {
    opacity: 0;
    transform: translateY(80vh) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.modal-animation-out {
  animation: modal-out 0.2s ease-in forwards;
}
@keyframes modal-out {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(10vh) scale(0.8);
  }
}

/* random animations */
.jump-animation {
  animation: jump 6s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  2% {
    transform: translateY(-5px);
  }
  4% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(-5px);
  }
  8% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@source inline(
  "bg-type-normal bg-type-fire bg-type-water bg-type-electric bg-type-grass bg-type-ice bg-type-fighting "
    " bg-type-poison bg-type-ground bg-type-flying bg-type-psychic bg-type-bug bg-type-rock bg-type-ghost "
    " bg-type-dragon bg-type-dark bg-type-steel bg-type-fairy"
);
